@import "tailwindcss";

@theme {
  --color-surface-container: #ebefed;
  --color-error: #ba1a1a;
  --color-surface-bright: #f6faf8;
  --color-surface-container-high: #e5e9e7;
  --color-on-secondary-fixed: #002116;
  --color-on-tertiary-container: #9abaff;
  --color-on-secondary: #ffffff;
  --color-surface-tint: #3352ce;
  --color-on-error: #ffffff;
  --color-primary-fixed: #dde1ff;
  --color-on-primary: #ffffff;
  --color-tertiary-fixed-dim: #adc6ff;
  --color-primary-fixed-dim: #b9c3ff;
  --color-primary: #002691;
  --color-on-primary-fixed: #001356;
  --color-inverse-primary: #b9c3ff;
  --color-primary-container: #173cba;
  --color-secondary: #006c51;
  --color-surface-container-highest: #dfe3e1;
  --color-error-container: #ffdad6;
  --color-inverse-on-surface: #eef2f0;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-fixed: #001a42;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #181d1c;
  --color-on-primary-fixed-variant: #0f37b6;
  --color-on-tertiary-fixed-variant: #004395;
  --color-surface-variant: #dfe3e1;
  --color-on-surface-variant: #444654;
  --color-tertiary-container: #00479c;
  --color-secondary-fixed-dim: #3cdfae;
  --color-secondary-fixed: #61fcc9;
  --color-tertiary-fixed: #d8e2ff;
  --color-secondary-container: #61fcc9;
  --color-outline-variant: #c4c5d6;
  --color-on-primary-container: #a9b7ff;
  --color-on-background: #181d1c;
  --color-on-secondary-container: #007256;
  --color-on-secondary-fixed-variant: #00513c;
  --color-inverse-surface: #2d3130;
  --color-on-error-container: #93000a;
  --color-tertiary: #003170;
  --color-surface-container-low: #f0f4f2;
  --color-surface-dim: #d7dbd9;
  --color-outline: #757685;
  --color-background: #f6faf8;
  --color-surface: #f6faf8;

  --font-family-headline: "Manrope", sans-serif;
  --font-family-body: "Manrope", sans-serif;
  --font-family-label: "Manrope", sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f6faf8;
}

.editorial-gradient {
  background: linear-gradient(135deg, #173cba 0%, #006c51 100%);
}

.premium-shadow {
  box-shadow: 0 20px 50px rgba(0, 38, 145, 0.15);
}

.glass-nav {
  background: rgba(246, 250, 248, 0.8);
  backdrop-filter: blur(12px);
}
